<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong><%= logo %></strong> is made and maintained by <strong>ZYROUGE</strong>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
            Not affiliated with <a href="https://youtube.com">YouTube</a>.
        </p>
    </div>
</footer>
