<nav>
    <div id="nav-item">
        <p>
            <a class="has-text-danger" href="/"><strong>Home</strong></a>
        </p>
        <p>
            <a class="has-text-danger" href="/"><strong>Download</strong></a>
        </p>
    </div>
    <p>
        <a class="has-text-danger" href="/" style="font-size: 2.5rem;">
            <strong><%= logo %></strong>
        </a>
    </p>
    <div id="nav-item">
        <p>
            <a class="has-text-danger" href="<%= funding %>"><strong>Donate</strong></a>
        </p>
        <p>
            <a class="has-text-danger" href="<%= github %>"><strong>GitHub</strong></a>
        </p>
    </div>
</nav>

<style scoped>
    nav, #nav-item {
        padding: 1rem;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    @media screen and (max-width: 750px) {
        nav {
            flex-direction: column;
        }

        p {
            padding: 0 0.4rem;
        }
    }
</style>